.wrapper {
  background: #fff;
  width: 1170px;
  height: 100%;
  margin: 0 auto 0;
}

.search__form {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search__field {
  width: 400px;
  position: relative;
}

.search__input {
  width: 100%;
  padding: 20px 60px 20px 30px;
  background: rgba(#e7e7e7, .7);
  border: 0 none;
  border-radius: 50px;
  font-size: 16px;
  outline: none;

  &::-webkit-input-placeholder {
    color: #000;
  }

  &::-moz-placeholder {
    color: #000;
  }

  &:-moz-placeholder {
    color: #000;
  }

  &::-ms-input-placeholder {
    color: #000;
  }
}

.search__submit {
  background: url("../../../img/submit.png") 0 0 no-repeat;
  width: 32px;
  height: 32px;
  border: none;
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
  outline: none;
}

.search__datepickers {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  //padding-bottom: 20px;
}

.datepicker__name {
  margin: 0;
  text-align: center;
}

.search__datepickerStart {
  margin-right: 20px;
}

.search__datepickerEnd {}